#root {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

html {
  background: #fff;
}

html,
body,
canvas {
  touch-action: none;
  overscroll-behavior: none;
}

* {
  box-sizing: border-box;
}

.hover-label {
  position: absolute;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  transition: opacity 1.2s ease, transform 0.3s ease;
}

.hover-label.visible {
  opacity: 1; /* fades in */
}

.hover-label > div {
  width: 100%;
  height: 100%;
}

.hover-label button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #ff5c5c;
  position: relative;
  transition: all 0.2s ease;
  font-size: 1.7rem;
  font-weight: 500;
  color: #444;
  display: flex;
  justify-content: center;
}

.hover-label button:hover {
  border: 2px solid white;
}

.hover-label button svg {
  width: 18px;
  height: 18px;
  pointer-events: none;
}

/* Pressed state */
.hover-label button:active {
  background: linear-gradient(to bottom, #e0e0e0, #cfcfcf);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

.music-menu-btn {
  position: fixed;
  right: 50px;
  top: 50px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 9999;
  border: none;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-icon {
  color: #000;
}

.music-menu-btn:hover {
  cursor: pointer;
  background-color: #000;
}

.music-menu-btn:hover .music-icon {
  color: #fff;
}

.music-menu {
  position: fixed;
  width: 360px;
  height: 640px;
  z-index: 9999;
  right: 50px;
  top: 120px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.music-header {
  padding-bottom: 10px;
  color: black;
  padding: 20px;
}

.music-header > h1 {
  width: 100%;
}

.music-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.music-body div {
  display: flex;
  text-align: left;
  justify-content: space-between;
  padding: 0 10px;
  border-radius: 10px;
}

.music-body div:hover {
  cursor: pointer;
}

.music-body .song-item.active {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.music-body .song-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.music-footer {
  padding: 20px;
}

.music-footer span {
  font-size: 14px;
}

.music-footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.music-footer .music-played-song,
.music-footer .music-playtime {
  margin: 0;
  margin-bottom: 10px;
}

.music-footer div:first-child {
  margin-bottom: 20px;
}

.music-playtime input[type=range] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 80%;
  height: 8px;
  background: #cccccc;
  border-radius: 10px;
  outline: none;
}

/* Chrome, Safari, Edge */
.music-playtime input[type=range]::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}

/* Firefox */
.music-playtime input[type=range]::-moz-range-thumb {
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}

.music-next:hover,
.music-prev:hover,
.music-play:hover {
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */